doctype
head
    title Artem Titkov | Full Stack Contractor
    meta(charset="utf-8")
    link(rel="stylesheet" href="static/css/bootstrap.min.css")
    link(rel="stylesheet" href="static/css/fontawesome.min.css")
    style.
        body {
            background: url('static/img/background.jpg');
            background-position: center;
            background-size: cover;
        }
        .container {
            -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.5);
        }
        .text-shadow {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
        .row.bg-primary a {
            color: #fff;
        }
        .name {
            font-weight: 900;
            margin-top: 10px;
        }
        @media print {
            a[href]:after {
                content: none;
            }
        }
        .img-responsive {
            width: 100%;
        }
body
    h6.hidden-print &nbsp;
    .container(style="background-color: white;")
        .row.bg-primary
            table
                tbody
                    tr
                        td.hidden-xs.col-sm-1
                        td.col-xs-3.col-sm-2.col-md-2.col-lg-2
                            h6 &nbsp;
                            img.img-responsive.img-circle.img-thumbnail(src="static/img/Artem Titkov.jpg" alt="Artem Titkov" title="Artem Titkov")
                            h6 &nbsp;
                        td.col-xs-5.col-sm-5
                            h1.text-shadow.name Artem Titkov
                            h4.text-shadow Full Stack Contractor
                            span.hidden-print
                                a(href="mailto:artemkloko@gmail.com" target="blank")
                                    i.fas.fa-fw.fa-envelope &nbsp;
                                a(href="https://github.com/artemkloko" target="blank")
                                    i.fab.fa-fw.fa-github-alt &nbsp;
                                a(href="https://hub.docker.com/u/artemkloko" target="blank")
                                    i.fab.fa-fw.fa-docker &nbsp;
                                a(href="https://stackoverflow.com/users/4968678/artemkloko" target="blank")
                                    i.fab.fa-fw.fa-stack-overflow &nbsp;
                                a(href="https://medium.com/@artemkloko" target="blank")
                                    i.fab.fa-fw.fa-medium &nbsp;
                                a(href="https://www.linkedin.com/in/artemkloko/" target="blank")
                                    i.fab.fa-fw.fa-linkedin &nbsp;
                                a(href="https://www.facebook.com/artemkloko" target="blank")
                                    i.fab.fa-fw.fa-facebook &nbsp;
                        td.col-xs-4.col-sm-3
                            ul.list-unstyled.text-right(style="margin-bottom: 0;")
                                li.visible-print-block
                                    small Berlin, Germany &nbsp;
                                        i.fas.fa-fw.fa-map-marker
                                li.visible-print-block
                                    small 0049 15 256 067890 &nbsp;
                                        i.fas.fa-fw.fa-phone
                                li.visible-print-block
                                    small
                                        a(href="mailto:artemkloko@gmail.com") artemkloko@gmail.com &nbsp;
                                        i.fas.fa-fw.fa-envelope
                        td.hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h6.hidden-print &nbsp;
                ul.list-inline.visible-print-block
                    li
                        strong Date of birth
                        |&nbsp; 21 April 1986
                    li |
                    li
                        strong Nationality
                        |&nbsp; Russian, Greek
                p Front-end functional developer with a good understanding and interest in the back-end systems. I value honest humane communication, working environments with good culture and open-minded people, teamwork in flat organizational structures, transparency in cooperation, responsibility and cats.
            .hidden-xs.col-sm-1
        hr
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 Work experience
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 June 2019 - Current
            .col-xs-9.col-sm-8
                h4.text-info Full Stack Contractor
                ul.list-inline
                    li
                        strong Get Together Software UG
                    li |
                    li
                        a(href="http://www.dashapp.net/" target="blank") http://www.dashapp.net/
                    li |
                    li Berlin, Germany
                ul
                    li Front end - React Native, Typescript, EsNext
                    li Cloud back end - AWS Amplify, AppSync, Cognito, DynamoDb, Lambda, ElasticSearch
                    li Data architecture
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Social mobile apps
                hr
                ul.list-inline
                    li
                        strong Spoty Labs
                    li |
                    li
                        a(href="http://spoty.link/" target="blank") http://spoty.link/
                    li |
                    li Paris, France
                ul
                    li Front end - React, React Native, Typescript, EsNext
                    li Cloud back end - AWS Amplify, AppSync, Cognito, DynamoDb, Lambda
                    li Data architecture
                    li User data processing, segmentation and retargeting 
                    li Basic dev-ops infrastructure
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Maps &amp; Navigation / Ad-tech / Mobile apps
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 August 2017 - May 2019
            .col-xs-9.col-sm-8
                h4.text-info Tracking Team Lead
                ul.list-inline
                    li
                        strong Dunnhumby Germany GmbH
                    li |
                    li
                        a(href="https://www.dunnhumby.com/germany" target="blank") https://www.dunnhumby.com/germany
                    li |
                    li Berlin, Germany
                ul
                    li React - maintenance and further development of an adminitrative/reporting webapp
                    li Guiding, developing and shipping cross team features
                    li Features research, solutions proposals and impact evaluation
                    li Automation and tooling
                    li People engagement, guiding and career development
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Real time bidding / Customer data science
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 February 2015 - July 2017
            .col-xs-9.col-sm-8
                h4.text-info Web developer
                ul.list-inline
                    li
                        strong Sociomantic Labs GmbH
                    li |
                    li
                        a(href="https://www.sociomantic.com/" target="blank") https://www.sociomantic.com/
                    li |
                    li Berlin, Germany
                ul
                    li Vanilla Javascript - maintenance and further development of a user tracking framework
                    li Development of an e2e testing tool for the previously mentioned framework
                    li Python, NodeJs and Vanilla Javascript tooling
                    li Dev-ops involvement
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Real time bidding / Ad-tech
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 October 2007 - June 2013
            .col-xs-9.col-sm-8
                h4.text-info Web developer
                ul.list-inline
                    li
                        strong Radial
                    li |
                    li
                        a(href="https://radial.gr/" target="blank") https://radial.gr/
                    li |
                    li Athens, Greece
                ul
                    li Debugging and refactoring legacy projects
                    li Development of small-scale to large-scale B2C and B2B websites
                    li Development of custom content management system
                    li Social media integration
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Web development / Online branding
            .hidden-xs.col-sm-1
        hr
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 Professional skills
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Currently I work with
            .col-xs-9.col-sm-8
                ul.list-inline
                    li React
                    li React Native
                    li Typescript
                    li Node.js
                    li NoSQL
                    li SQL
                    li Docker
                    li Unix systems
                    li AWS (Amplify, AppSync, Cognito, DynamoDb, Lambda, ElasticSearch)
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Things I like using
            .col-xs-9.col-sm-8
                ul.list-inline
                    li GraphQL
                    li REST APIs
                    li Asynchronous execution
                    li Functional programming
                    li Data processing
                    li ElasticSearch/Logstash/Kibana
                    li Microservices
                    li Continuous integration
                    li End-to-End/integration/logic tests
                    li Debuggers
                    li ECMAScript.Next
                    li Contemporary web features
                    li Experimental UIs
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Domains of knowledge
            .col-xs-9.col-sm-8
                ul.list-unstyled
                    li Web tech - front end, back end, full stack, integrations
                    li Ad Tech - user tracking, browser support, ad formats, real time bidding data flow
                    li ECMAScript 3 - JavaScript that works on outdated browsers back to Internet Explorer 8, Firefox 3, Chrome 5, Opera 11, Safari 4
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Technologies I used previously
            .col-xs-9.col-sm-8
                ul.list-unstyled
                    li JavaScript - Angular 1, Express, Gulp/Grunt, jQuery
                    li Python - Django, scripting and tooling
                    li PHP - Wordpress, custom CMS development with Propel ORM
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Organisational / managerial
            .col-xs-9.col-sm-8
                ul.list-unstyled
                    li Strong analytical, problem solving and self education skills
                    li Self-directed, with a positive can-do attitude
                    li Willing to take up tasks, responsibilities and project development guidance
                    li Interested in knowledge sharing in team and across organization
                    li Good communication skills with clients, co-workers and user base
                hr
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Helping others grow
            .col-xs-9.col-sm-8
                ul.list-unstyled
                    li Two success stories with mentoring university/bootcamp graduates landing a Junior Dev job
            .hidden-xs.col-sm-1
        hr
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 What I am looking for
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h4.text-info Position
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                p I am looking for a Senior or Team Lead position. I love coding, writing research oriented proposals, shipping cross-team features and measuring the impact of each deployment. I am also interested in leading a team and helping its memebers evolve, because I strongly believe that effective work and innovation can only be achieved by a team of engaged, diverse and responsible people. Nevertheless I would not like to become a full time manager, as I still want to code at least 50% of my time.
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h4.text-info Location
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                p Currently I am open mostly for remote positions. I am based in Berlin, Germany, but I travel quite often for family and professional reasons. Of course I am open to on-site onboarding, meetings, events, etc.
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h4.text-info Employment type
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                p I am open for both short term and long term freelance work and would uptake anything between 2 to 5 days per week.
                p Regarding full time employment, I am looking for companies that understand the importance of open source and contribute back. And I would offer my knowledge and my soul to a fully open source project. I would even stop freelancing for it. 
                p No consultancy companies or agencies. 
            .hidden-xs.col-sm-1
        hr
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 Work samples
            .hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                p Please visit my GitHub account if you want to checkout some of my fun side projects or open source contributions. Unfortunately a lot of the hard work I have done is not open source and belongs to private companies, but upon needs of collaboration, I can outline the technology stack and procedures that I used in the past.
            .hidden-xs.col-sm-1
        hr
        .row.hidden-print.text-center
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h6 &nbsp;
                ul.list-inline
                    li
                        a.btn.btn-success(href="mailto:artemkloko@gmail.com") Contact me via email
                        h6 &nbsp;
                    li
                        a.btn.btn-warning(href="javascript:window.print();") Print my curriculum vitae
                        h6 &nbsp;
            .hidden-xs.col-sm-1
        .row.bg-primary.hidden-print
            .col-xs-12 &nbsp;
    h6.hidden-print &nbsp;
