doctype
head
    title Artem Titkov | Full Stack Engineer
    meta(charset="utf-8")
    link(rel="stylesheet" href="static/css/bootstrap.min.css")
    link(rel="stylesheet" href="static/css/fontawesome.min.css")
    style.
        body {
            background: url('static/img/background.jpg');
            background-position: center;
            background-size: cover;
        }
        .container {
            -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.5);
        }
        .text-shadow {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
        .row.bg-primary a {
            color: #fff;
        }
        .name {
            font-weight: 900;
            margin-top: 10px;
        }
        @media print {
            a[href]:after {
                content: none;
            }
        }
        .img-responsive {
            width: 100%;
        }
        .avoid-page-break-inside {
            page-break-inside: avoid;
        }
body
    h6.hidden-print &nbsp;
    .container(style="background-color: white;")
        .row.bg-primary
            table
                tbody
                    tr
                        td.hidden-xs.col-sm-1
                        td.col-xs-2.col-sm-2
                            h6 &nbsp;
                            img.img-responsive.img-circle.img-thumbnail(src="static/img/Artem Titkov.jpg" alt="Artem Titkov" title="Artem Titkov")
                            h6 &nbsp;
                        td.col-xs-5.col-sm-5
                            h1.text-shadow.name Artem Titkov
                            h5.text-shadow Front End Architect / Full Stack Engineer
                            span.hidden-print
                                a(href="mailto:artemkloko@gmail.com" target="blank")
                                    i.fas.fa-fw.fa-envelope &nbsp;
                                a(href="https://github.com/artemkloko" target="blank")
                                    i.fab.fa-fw.fa-github-alt &nbsp;
                                a(href="https://hub.docker.com/u/artemkloko" target="blank")
                                    i.fab.fa-fw.fa-docker &nbsp;
                                a(href="https://stackoverflow.com/users/4968678/artemkloko" target="blank")
                                    i.fab.fa-fw.fa-stack-overflow &nbsp;
                                a(href="https://medium.com/@artemkloko" target="blank")
                                    i.fab.fa-fw.fa-medium &nbsp;
                                a(href="https://www.linkedin.com/in/artemkloko/" target="blank")
                                    i.fab.fa-fw.fa-linkedin &nbsp;
                        td.col-xs-3.col-sm-3
                            ul.list-unstyled.text-right(style="margin-bottom: 0;")
                                li.visible-print-block
                                    small Berlin, Germany &nbsp;
                                        i.fas.fa-fw.fa-map-marker
                                li.visible-print-block
                                    small +49 15 256 067890 &nbsp;
                                        i.fas.fa-fw.fa-phone
                                li.visible-print-block
                                    small
                                        a(href="mailto:artemkloko@gmail.com") artemkloko@gmail.com &nbsp;
                                        i.fas.fa-fw.fa-envelope
                        td.hidden-xs.col-sm-1
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h6.hidden-print &nbsp;
                ul.list-inline.visible-print-block
                    li
                        strong Citizenship
                        |&nbsp; European
                    li |
                    li
                        strong Languages
                        |&nbsp; English, Greek, Russian
                p Front-end functional developer with full-stack capabilities and solid understanding of cloud technologies. I value honest humane communication, working environments with good culture and open-minded people, teamwork in flat organizational structures, transparency in cooperation, responsibility, and nature, and motorcycles, and cats :3
            .hidden-xs.col-sm-1
        hr
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 Work experience
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 January 2023 -
                    br
                    |October 2023
                div 10 months
            .col-xs-9.col-sm-8
                h4.text-info Full Stack Contractor
                ul.list-inline
                    li
                        strong SAP SE
                    li |
                    li
                        a(href="https://www.sap.com/" target="blank") https://www.sap.com/
                    li |
                    li
                        a(href="https://www.kulturpass.de/" target="blank") https://www.kulturpass.de/
                    li |
                    li Berlin, Germany
                ul
                    li Frontend - React Native, Fastlane, App Core Design, Functional Components, Typescript
                    li Government-commissioned app for post-COVID relief, used by millions of 18-year-olds across Germany
                    li Initial bare setup to production deployment in 6 months, delivered fully to specifications
                    li Architecture and development of repository structure, branching strategy, development style guide, and UI component library, ensuring consistency, reusability, modularity and maintainability
                    li Design and implementation of a frontend API client based on RTK Query to seamlessly communicate with multiple backends, including authentication and essential cryptographic features
                    li Comprehensive web accessibility across the entire application, ensuring full compliance with WCAG standards
                    li Cross team alignment and architecture
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; E-commerce mobile apps
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 December 2020 - 
                    br 
                    |November 2022
                div 2 years
            .col-xs-9.col-sm-8
                h4.text-info Full Stack Contractor
                ul.list-inline
                    li
                        strong Klarna Bank AB
                    li |
                    li
                        a(href="https://www.klarna.com/" target="blank") https://www.klarna.com/
                    li |
                    li Berlin, Germany
                ul
                    li Frontend - React Native, Functional Components, Hooks, Typescript, EsNext
                    li Cloud backend - NodeJS services on AWS
                    li Technical design, breakdown and leading the development of multiple features
                    li Developed and maintained feature-oriented Backend for Frontend (BFF) solutions
                    li Cross team alignment and architecture, both as consumers and as providers of front-end functional services
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Fintech mobile apps
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 January 2020 - 
                    br 
                    |August 2020
                div 8 months
            .col-xs-9.col-sm-8
                h4.text-info Full Stack Contractor
                ul.list-inline
                    li
                        strong Get Together Software UG
                    li |
                    li
                        a(href="http://www.dashapp.net/" target="blank") http://www.dashapp.net/
                    li |
                    li Berlin, Germany
                ul
                    li Frontend - React Native, Apollo Client, Functional Components, Hooks, Typescript, EsNext
                    li Cloud backend - AWS Amplify, AppSync GraphQL, Cognito, DynamoDb, Lambda, ElasticSearch
                    li Data architecture
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Social mobile apps
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 August 2017 - 
                    br 
                    |May 2019   
                div 1 year 10 months
            .col-xs-9.col-sm-8
                h4.text-info Tracking Team Lead
                ul.list-inline
                    li
                        strong Dunnhumby Germany GmbH
                    li |
                    li
                        a(href="https://www.dunnhumby.com/germany" target="blank") https://www.dunnhumby.com/germany
                    li |
                    li Berlin, Germany
                ul
                    li Frontend - React, Redux, EsNext, Communication with REST APIs
                    li Tooling - Docker, NodeJs, Bash
                    li Maintenance and further development of the administrative/reporting web app
                    li Implementation of ElasticSearch / Logstash / Kibana stack for data reporting and analysis
                    li Guiding, developing and shipping cross team features
                    li Features research, solutions proposals and impact evaluation
                    li People engagement, guiding and career development
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Real time bidding / Customer data science
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 February 2015 - 
                    br 
                    |July 2017
                p 2 years 6 months
            .col-xs-9.col-sm-8
                h4.text-info Senior Web Developer
                ul.list-inline
                    li
                        strong Sociomantic Labs GmbH
                    li |
                    li
                        a(href="https://www.sociomantic.com/" target="blank") https://www.sociomantic.com/
                    li |
                    li Berlin, Germany
                ul
                    li Frontend - Vanilla Javascript, Advanced Cookies, ECMAScript 3
                    li Tooling - Docker, Python, NodeJs, Selenium WebDriver, Vanilla Javascript, Bash
                    li Maintenance and further development of the user tracking framework
                    li Development of an e2e testing tool for the previously mentioned framework
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Real time bidding / Ad-tech
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                h5 October 2007 - 
                    br 
                    |June 2013
                p 5 years 9 months
            .col-xs-9.col-sm-8
                h4.text-info Web Developer
                ul.list-inline
                    li
                        strong Radial
                    li |
                    li
                        a(href="https://radial.gr/" target="blank") https://radial.gr/
                    li |
                    li Athens, Greece
                ul
                    li Frontend - HTML, CSS, Javascript, jQuery
                    li Backend - PHP, Propel ORM, Wordpress, Python, Django
                    li Debugging and refactoring legacy projects
                    li Development of small-scale to large-scale B2C and B2B websites
                    li Development of custom content management system
                    li Development of custom Wordpress plugins and themes
                    li Social media integration
                ul.list-inline
                    li
                        strong Business sector
                        |&nbsp; Web development / Online branding
            .hidden-xs.col-sm-1
        hr
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 Professional skills
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Currently I work with
            .col-xs-9.col-sm-8
                ul.list-inline
                    li React
                    li · 
                    li Bare React Native
                    li · 
                    li Expo
                    li · 
                    li Typescript
                    li · 
                    li Node.js
                    li · 
                    li REST APIs
                    li · 
                    li GraphQL
                    li · 
                    li NoSQL
                    li · 
                    li SQL
                    li · 
                    li Docker
                    li · 
                    li GitLab CI / CD
                    li · 
                    li GitHub Actions
                    li · 
                    li Unix systems
                    li · 
                    li AWS Amplify / AppSync / Cognito / DynamoDb / Lambda / ElasticSearch
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Frontend specialization
            .col-xs-9.col-sm-8
                ul.list-inline
                    li Project architecture
                    li · 
                    li API client design and implementation
                    li · 
                    li API cache layer
                    li · 
                    li UI component library
                    li · 
                    li Navigation
                    li · 
                    li Internationalization
                    li · 
                    li Store modeling / thunks / side-effects / persistence
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Things I like using
            .col-xs-9.col-sm-8
                ul.list-inline
                    li Asynchronous execution
                    li · 
                    li Observables and event emitters
                    li · 
                    li Data streams and event streams
                    li · 
                    li Functional programming
                    li · 
                    li Websockets
                    li · 
                    li Data processing
                    li · 
                    li Microservices
                    li · 
                    li Continuous integration
                    li · 
                    li End-to-End / integration / logic tests
                    li · 
                    li Debuggers
                    li · 
                    li ECMAScript.Next
                    li · 
                    li Contemporary web features
                    li · 
                    li Experimental UIs
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Organisational and managerial
            .col-xs-9.col-sm-8
                ul.list-unstyled
                    li Strong analytical, problem solving and self education skills
                    li Self-directed, with a positive can-do attitude
                    li Willing to take up tasks, responsibilities and project development guidance
                    li Interested in knowledge sharing in team and across organization
                    li Good communication skills with clients, co-workers and user base
                hr
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-3.col-sm-2.text-right
                strong Helping others grow
            .col-xs-9.col-sm-8
                ul.list-unstyled
                    li Four success stories with mentoring university / bootcamp graduates landing a Junior Dev job
            .hidden-xs.col-sm-1
        hr
        .row
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 What I am looking for
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h4.text-info Position
                p I am looking for a Senior or Lead position. I love coding and driving the full development cycle of any feature forward, i.e. gathering requirements, setting up cross-team communication channels, writing proposals, scoping, estimating, planning, grooming, shipping and measuring the impact of each deployment, no matter if the feature is frontend, backend, or full-stack. I am also interested in leading and helping team members evolve, as I strongly believe that effective work and innovation can only be achieved by a team of engaged, diverse and responsible people. Nevertheless I would not like to become a full time manager, as I still want to code at least 50% of my time.
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h4.text-info Location
                p I am open to remote, hybrid, and on-site positions. I am based in Berlin, Germany, but sometimes I need to travel for family or professional reasons.
            .hidden-xs.col-sm-1
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h4.text-info Employment type
                p I am open to full-time permanent employment, as well as short-term and long-term freelance or contractor projects.
            .hidden-xs.col-sm-1
        hr
        .row.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h3 Work samples
                p Please visit my GitHub account if you want to check out some of my fun side projects or open source contributions. Unfortunately a lot of the hard work I have done is not open source and belongs to private companies, but upon the needs of collaboration, I can outline the technology stack and procedures that I used in the past.
            .hidden-xs.col-sm-1
        hr
        .row.hidden-print.text-center.avoid-page-break-inside
            .hidden-xs.col-sm-1
            .col-xs-12.col-sm-10
                h6 &nbsp;
                ul.list-inline
                    li
                        a.btn.btn-primary(href="https://calendly.com/artemkloko/meeting") Schedule a meeting
                        h6 &nbsp;
                    li
                        a.btn.btn-success(href="mailto:artemkloko@gmail.com") Contact me via email
                        h6 &nbsp;
                    li
                        a.btn.btn-warning(href="javascript:window.print();") Print my curriculum vitae
                        h6 &nbsp;
            .hidden-xs.col-sm-1
        .row.bg-primary.hidden-print
            .col-xs-12 &nbsp;
    h6.hidden-print &nbsp;
